.resume {
  height: 100%;
}

.timeline {
  display: flex;
  width: 100%;
  padding: 20px;
}
.timeline__experience, .timeline__education {
  width: 50%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeline__experience__header-text, .timeline__education__header-text {
  display: inline-block;
  color: var(--selected-theme-sub-text-color);
  font-size: 22px;
  font-weight: 600;
  line-height: 1em;
  letter-spacing: 0.5px;
  position: relative;
  text-transform: uppercase;
  padding: 5px 10px;
  border-bottom: 2px solid var(--selected-theme-main-color);
}
.timeline__experience__header-text::before, .timeline__experience__header-text::after, .timeline__education__header-text::before, .timeline__education__header-text::after {
  position: absolute;
  content: "";
  width: 2px;
  height: 5px;
  background-color: var(--selected-theme-main-color);
  bottom: -1px;
}
.timeline__experience__header-text::before, .timeline__education__header-text::before {
  left: 0;
}
.timeline__experience__header-text::after, .timeline__education__header-text::after {
  right: 0;
}
.timeline__experience__vertical-timeline-element, .timeline__education__vertical-timeline-element {
  padding: 0px 0px 30px 0px;
}
.timeline__experience__vertical-timeline-element:last-child, .timeline__education__vertical-timeline-element:last-child {
  padding-bottom: 0;
}
.timeline__experience__vertical-timeline-element .vertical-timeline-element-content, .timeline__education__vertical-timeline-element .vertical-timeline-element-content {
  box-shadow: none;
  padding: 20px 20px;
}
.timeline__experience__vertical-timeline-element .vertical-timeline-element-content .vertical-timeline-element-date, .timeline__education__vertical-timeline-element .vertical-timeline-element-content .vertical-timeline-element-date {
  font-size: 2rem;
  color: var(--selected-theme-sub-text-color);
  opacity: 1;
}
.timeline__experience__vertical-timeline-element .vertical-timeline-element-content-arrow, .timeline__education__vertical-timeline-element .vertical-timeline-element-content-arrow {
  display: none;
}
.timeline__experience__vertical-timeline-element .vertical-timeline-element-title-wrapper, .timeline__education__vertical-timeline-element .vertical-timeline-element-title-wrapper {
  display: flex;
  align-items: center;
}
.timeline__experience__vertical-timeline-element .vertical-timeline-element-title-wrapper h3, .timeline__experience__vertical-timeline-element .vertical-timeline-element-title-wrapper h4, .timeline__education__vertical-timeline-element .vertical-timeline-element-title-wrapper h3, .timeline__education__vertical-timeline-element .vertical-timeline-element-title-wrapper h4 {
  font-size: 15px;
}
.timeline__experience__vertical-timeline-element .vertical-timeline-element-title-wrapper h4, .timeline__education__vertical-timeline-element .vertical-timeline-element-title-wrapper h4 {
  margin-left: 8px;
}
.timeline__experience__vertical-timeline-element p, .timeline__education__vertical-timeline-element p {
  font-size: 18px;
}

@media only screen and (max-width: 768px) {
  .timeline {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .timeline__experience, .timeline__education {
    width: 100%;
    gap: 2rem;
  }
}/*# sourceMappingURL=styles.css.map */